<section class="container profile layout_padding">
    <div class="head">
        <img src="{{info.profile_picture}}" alt="" id="avatar">
        <div>
            <h1 id="name">{{info.name}}</h1>
            <h2 id="phone">{{info.phone}}</h2>
        </div>
    </div>
    <div class="info">
        <p>
            Email: <span id="email">{{info.email}}</span>
        </p>
        <p>

            Địa chỉ: <span id="address">{{info.address}}</span>
        </p>
    </div>
</section>

<section class="trip_history layout_padding">
    <h4>Lịch sử chuyến xe <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down hide"></i> </h4>
    <table class="price-table hide">
        <thead>
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Loại xe</th>
                <th>Tổng số km</th>
                <th>Thời gian chờ (giờ)</th>
                <th>Số tiền</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Tài xế</th>
                <th>Số điện thoại tài xế</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#each historyTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.vehicle_type}}</td>
                <td>{{this.distance}}</td>
                <td>{{minToHour this.waiting_minutes}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>