<section class="container profile layout_padding">
    <div class="head">
        <img src="{{info.profile_picture}}" alt="" id="avatar">
        <div>
            <h1 id="name">{{info.name}}</h1>
            <h2 id="phone">{{info.phone}}</h2>
        </div>
    </div>
    <div class="info">
        <p>
            Email: <span id="email">{{info.email}}</span>
        </p>
        <p>

            Địa chỉ: <span id="address">{{info.address}}</span>
        </p>
    </div>
    <a href="/logout"><button type="button" class="btn btn-outline-danger">Đăng xuất</button></a>

</section>
<section id="acceptingTrip" class="price-table layout_padding">


    <div class="trip-container content-wrapper">
        <h2>Chuyến đang thực hiện</h2>
        {{#if currentTrip}}
        <div class="client-info">
            <img src="{{currentTrip.profile_picture}}" alt="" id="avatar">
            <div>
                <h4 id="name">Tài xế: {{currentTrip.name}}</h4>
                <a href="tel:{{currentTrip.phone}}" id="phone">{{currentTrip.phone}}</a>
            </div>
        </div>
        <div id="map">
        </div>
        <div class="trip-info row">
            <p class="col-sm-6 col-xs-12"><i class="fas fa-map-marker-alt"></i>Điểm đón: <span>{{currentTrip.from_location}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-map-pin"></i>Điểm đến: <span>{{currentTrip.to_location}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-route"></i>Quảng đường: <span>{{currentTrip.distance}}</span></p>
            <div class="col-sm-6 col-xs-12">
                <button><i class="fas fa-pen"></i></button>
                <input type="text" name="waitingTime" placeholder="Thời gian chờ">
            </div>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-money-bill-wave"></i>Số tiền: <span>{{currentTrip.cost}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-info-circle"></i>Trạng thái: <span>{{currentTrip.status}}</span></p>

        </div>
        <button id="cancelBtn" class="btn btn-danger" onclick="cancel()">Hủy chuyến</button>
        {{else}}
        <p>Chưa nhận chuyến xe nào</p>
        {{/if}}
    </div>


</section>
<section class="trip_history layout_padding">
    <h4>Lịch sử chuyến xe <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down hide"></i> </h4>
    <table class="price-table hide">
        <thead>
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Loại xe</th>
                <th>Tổng số km</th>
                <th>Thời gian chờ (giờ)</th>
                <th>Số tiền</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Tài xế</th>
                <th>Số điện thoại tài xế</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#each historyTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.vehicle_type}}</td>
                <td>{{this.distance}}</td>
                <td>{{minToHour this.waiting_minutes}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>