<section id="infomation" class="container profile layout_padding show">
    <div class="w-95 m-c">

        <div class="head">
            <img src="{{info.profile_picture}}" alt="" id="avatar">
            <div>
                <h1 id="name">{{info.name}}</h1>
                <h2 id="phone">{{info.phone}}</h2>
            </div>
        </div>
        <div class="info">
            <p>
                Email: <span id="email">{{info.email}}</span>
            </p>
            <p>

                Địa chỉ: <span id="address">{{info.address}}</span>
            </p>
        </div>
        <a href="/logout"><button type="button" class="btn btn-outline-danger">Đăng xuất</button></a>
    </div>

</section>

<section id="orderList" class="price-table layout_padding">
    <div class="table-responsive">

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Mã chuyến</th>
                    <th>Thời gian đặt</th>
                    <th>Điểm đi</th>
                    <th>Điểm đến</th>
                    <th>Khách hàng</th>
                    <th>Số điện thoại khách hàng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#unless newTrips}}
                <td colspan="7">Không có chuyến nào để hiển thị</td>
                {{/unless}}
                {{#each newTrips}}
                <tr>
                    <td>{{this.trip_id}}</td>
                    <td>{{dateToDatetime this.order_time}}</td>
                    <td>{{this.from_location}}</td>
                    <td>{{this.to_location}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.contact}}</td>
                    <td><button class="btn btn-outline-success">Nhận chuyến</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</section>
<section id="historyTrips" class="price-table layout_padding">
    <div class="table-responsive">
        <table class="price-table hide">
            <thead>
                <tr>
                    <th>Mã chuyến</th>
                    <th>Thời gian đặt</th>
                    <th>Tổng số km</th>
                    <th>Thời gian chờ (giờ)</th>
                    <th>Số tiền</th>
                    <th>Điểm đi</th>
                    <th>Điểm đến</th>
                    <th>Khách hàng</th>
                    <th>Số điện thoại khách hàng</th>
                    <th>Thời gian hoàn thành</th>
                    <th>Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {{#unless historyTrips}}
                <td colspan="11">Không có chuyến nào để hiển thị</td>
                {{/unless}}
                {{#each historyTrips}}
                <tr>
                    <td>{{this.trip_id}}</td>
                    <td>{{dateToDatetime this.order_time}}</td>
                    <td>{{this.distance}}</td>
                    <td>{{minToHour this.waiting_minutes}}</td>
                    <td>{{this.cost}}</td>
                    <td>{{this.from_location}}</td>
                    <td>{{this.to_location}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.contact}}</td>
                    <td>{{dateToDatetime this.finished_time}}</td>
                    <td>{{transStatus this.status}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</section>
<section id="report" class="price-table layout_padding">
    Đây là báo cáo
</section>
<section id="acceptingTrip" class="price-table layout_padding">


    <div class="trip-container content-wrapper">
        <h2>Chuyến đang thực hiện</h2>
        {{#if currentTrip}}
        <div class="client-info">
            <img src="{{currentTrip.profile_picture}}" alt="" id="avatar">
            <div>
                <h4 id="name">{{currentTrip.name}}</h4>
                <a href="tel:{{currentTrip.contact}}" id="phone">{{currentTrip.contact}}</a>
            </div>
        </div>
        <div id="map">
        </div>
        <div class="trip-info row">
            <p class="col-sm-6 col-xs-12"><i class="fas fa-map-marker-alt"></i>Điểm đón:
                <span>{{currentTrip.from_location}}</span>
            </p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-map-pin"></i>Điểm đến:
                <span>{{currentTrip.to_location}}</span>
            </p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-route"></i>Quảng đường: <span
                    id="distance">{{currentTrip.distance}}</span></p>
            <div class="col-sm-6 col-xs-12">
                <button id="setWaitingBtn"><i class="fas fa-pen"></i></button>
                <input id="waitingInput" type="text" name="waitingTime" placeholder="Thời gian chờ">
            </div>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-money-bill-wave"></i>Số tiền: <span
                    id="cost">{{currentTrip.cost}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-info-circle"></i>Trạng thái: <span id="status">{{transStatus
                    currentTrip.status}}</span></p>

        </div>
        <button id="btnNextStatus" class="btn btn-success">Xác nhận đã đón khách</button>
        {{else}}
        <p>Chưa nhận chuyến xe nào</p>
        {{/if}}
    </div>


</section>