<section id="infomation" class="container profile layout_padding show">
    <div class="head">
        <img src="{{info.profile_picture}}" alt="" id="avatar">
        <div>
            <h1 id="name">{{info.name}}</h1>
            <h2 id="phone">{{info.phone}}</h2>
        </div>
    </div>
    <div class="info">
        <p>
            Email: <span id="email">{{info.email}}</span>
        </p>
        <p>

            Địa chỉ: <span id="address">{{info.address}}</span>
        </p>
    </div>
    <a href="/logout"><button type="button" class="btn btn-outline-danger">Đăng xuất</button></a>

</section>

<section id="orderList" class="price-table layout_padding">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Khách hàng</th>
                <th>Số điện thoại khách hàng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#unless newTrips}}
            <td colspan="7">Không có chuyến nào để hiển thị</td>
            {{/unless}}
            {{#each newTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td><button class="btn btn-outline-success">Nhận chuyến</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section id="historyTrips" class="price-table layout_padding">
    <table class="price-table hide">
        <thead>
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Tổng số km</th>
                <th>Thời gian chờ (giờ)</th>
                <th>Số tiền</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Khách hàng</th>
                <th>Số điện thoại khách hàng</th>
                <th>Thời gian hoàn thành</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#unless historyTrips}}
            <td colspan="11">Không có chuyến nào để hiển thị</td>
            {{/unless}}
            {{#each historyTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.distance}}</td>
                <td>{{minToHour this.waiting_minutes}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{dateToDatetime this.finished_time}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section id="report" class="price-table layout_padding">
    Đây là báo cáo
</section>
<section id="acceptingTrip" class="price-table layout_padding">


    <div class="trip-container content-wrapper">
        <h2>Chuyến đang thực hiện</h2>
        {{#if currentTrip}}
        <div class="client-info">
            <img src="{{currentTrip.profile_picture}}" alt="" id="avatar">
            <div>
                <h1 id="name">{{currentTrip.name}}</h1>
                <a href="tel:{{currentTrip.phone}}" id="phone">{{currentTrip.phone}}</a>
            </div>
        </div>
        <div class="map">
            <div class="image-wrapper">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31332.786265726012!2d106.86955519999998!3d10.993664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1721381184196!5m2!1sen!2s"
                    width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="trip-info row">
            <p class="col-sm-6 col-xs-12"><i class="fas fa-map-marker-alt"></i>Điểm đón: <span>{{currentTrip.from_location}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-map-pin"></i>Điểm đến: <span>{{currentTrip.to_location}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-route"></i>Quảng đường: <span>{{currentTrip.distance}}</span></p>
            <div class="col-sm-6 col-xs-12">
                <button><i class="fas fa-pen"></i></button>
                <input type="text" name="waitingTime" placeholder="Thời gian chờ">
            </div>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-money-bill-wave"></i>Số tiền: <span>{{currentTrip.cost}}</span></p>
            <p class="col-sm-6 col-xs-12"><i class="fas fa-info-circle"></i>Trạng thái: <span>{{currentTrip.status}}</span></p>

        </div>
        <button class="btn btn-success">Xác nhận đã đón khách</button>
        {{else}}
        <p>Chưa nhận chuyến xe nào</p>
        {{/if}}
    </div>


</section>