<section id="infomation" class="container profile layout_padding show">
    <div class="head">
        <img src="{{info.profile_picture}}" alt="" id="avatar">
        <div>
            <h1 id="name">{{info.name}}</h1>
            <h2 id="phone">{{info.phone}}</h2>
        </div>
    </div>
    <div class="info">
        <p>
            Email: <span id="email">{{info.email}}</span>
        </p>
        <p>

            Địa chỉ: <span id="address">{{info.address}}</span>
        </p>
    </div>
</section>

<section id="orderList" class="price-table layout_padding">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Khách hàng</th>
                <th>Số điện thoại khách hàng</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#unless newTrips}}
                <td colspan="7">Không có chuyến nào để hiển thị</td>
            {{/unless}}
            {{#each newTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section id="historyTrips" class="price-table layout_padding">
    <table class="price-table hide">
        <thead>
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Tổng số km</th>
                <th>Thời gian chờ (giờ)</th>
                <th>Số tiền</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Khách hàng</th>
                <th>Số điện thoại khách hàng</th>
                <th>Thời gian hoàn thành</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#unless historyTrips}}
                <td colspan="11">Không có chuyến nào để hiển thị</td>
            {{/unless}}
            {{#each historyTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.distance}}</td>
                <td>{{minToHour this.waiting_minutes}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{dateToDatetime this.finished_time}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section id="report" class="price-table layout_padding">
    Đây là báo cáo 
</section>
<section id="acceptingTrip" class="price-table layout_padding">
    Đây là chuyến đang thực hiện
</section>