<section id="infomation" class="container profile layout_padding show">
    <div class="head">
        <img src="{{info.profile_picture}}" alt="" id="avatar">
        <div>
            <h1 id="name">{{info.name}}</h1>
            <h2 id="phone">{{info.phone}}</h2>
        </div>
    </div>
    <div class="info">
        <p>
            Email: <span id="email">{{info.email}}</span>
        </p>
        <p>

            Địa chỉ: <span id="address">{{info.address}}</span>
        </p>
    </div>
    <a href="/logout"><button type="button" class="btn btn-outline-danger">Đăng xuất</button></a>

</section>

<section id="orderList" class="price-table layout_padding">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Khách hàng</th>
                <th>Số điện thoại khách hàng</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#unless newTrips}}
            <td colspan="7">Không có chuyến nào để hiển thị</td>
            {{/unless}}
            {{#each newTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section id="historyTrips" class="price-table layout_padding">
    <table class="price-table hide">
        <thead>
            <tr>
                <th>Mã chuyến</th>
                <th>Thời gian đặt</th>
                <th>Tổng số km</th>
                <th>Thời gian chờ (giờ)</th>
                <th>Số tiền</th>
                <th>Điểm đi</th>
                <th>Điểm đến</th>
                <th>Khách hàng</th>
                <th>Số điện thoại khách hàng</th>
                <th>Thời gian hoàn thành</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            {{#unless historyTrips}}
            <td colspan="11">Không có chuyến nào để hiển thị</td>
            {{/unless}}
            {{#each historyTrips}}
            <tr>
                <td>{{this.trip_id}}</td>
                <td>{{dateToDatetime this.order_time}}</td>
                <td>{{this.distance}}</td>
                <td>{{minToHour this.waiting_minutes}}</td>
                <td>{{this.cost}}</td>
                <td>{{this.from_location}}</td>
                <td>{{this.to_location}}</td>
                <td>{{this.name}}</td>
                <td>{{this.phone}}</td>
                <td>{{dateToDatetime this.finished_time}}</td>
                <td>{{this.status}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</section>
<section id="report" class="price-table layout_padding">
    Đây là báo cáo
</section>
<section id="acceptingTrip" class="price-table layout_padding">


    <div class="trip-container">
        <h2>Chuyến đang thực hiện</h2>

        <div class="client-info">
            <img src="{{info.profile_picture}}" alt="" id="avatar">
            <div>
                <h1 id="name">{{info.name}}</h1>
                <h2 id="phone">{{info.phone}}</h2>
            </div>
        </div>
        <div class="map">
            <div class="image-wrapper">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d31332.786265726012!2d106.86955519999998!3d10.993664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1721381184196!5m2!1sen!2s"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="trip-info">
            <p>Điểm đón: Trảng Dài Biên Hòa</p>
            <p>Điểm đến: Sài Gòn</p>
            <p>Quảng đường: 10km</p>
            <div>
                <label for="waitingTime">Thời gian chờ</label>
                <input type="text" name="waitingTime">
            </div>
            <p>Số tiền: 3 tỉ</p>
            <p>Trạng thái: Đang trên đường đón</p>

        </div>
        <button>Xác nhận đã đón khách</button>
    </div>


</section>