  <section class="news_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Tin tức <br>
          Tin tức của chúng tôi
        </h2>
      </div>
      <div class="news_container row">
        {{#each news}}
        <div class="box col-lg-4 col-md-6 col-sm-12">
          <a href="news/{{slug}}" class="news-link" target="_blank">
            <div class="date-box">
              <h6>{{formatDate published_date}}</h6>
            </div>
            <div class="img-box">
              <img src={{image_url}} alt="{{caption}}">
            </div>
            <div class="detail-box">
              <h6>{{title}}</h6>
              <p>
                {{description}}
              </p>
            </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </section>

  <!-- end news section -->


  <!-- info section -->

  <section class="info_section layout_padding-top layout_padding2-bottom">
    <div class="container">
      <div class="box col-lg-4 col-md-6 col-sm-12">
        <div class="info_form">
          <h4>
            Đăng ký nhận bản tin của chúng tôi
          </h4>
          <form id="newsletterForm" action="">
            <input type="text" placeholder="Gửi email với chúng tôi">
            <div class="d-flex justify-content-end">
              <button class="submit-button"></button>
            </div>
          </form>
        </div>
        <div class="info_links">
          <ul>
            <li class=" ">
              <a class="" href="/">Trang chủ <span class="sr-only">(current)</span></a>
            </li>
            <li class="">
              <a class="" href="about"> Chúng tôi</a>
            </li>
            <li class="">
              <a class="" href="service"> Dịch vụ </a>
            </li>
            <li class="">
              <a class="" href="news"> Tin tức</a>
            </li>
            <li class="">
              <a class="" href="contact">Liên hệ </a>
            </li>
            <li class="">
              <a class="" href="/login">Đăng nhập</a>
            </li>
          </ul>
        </div>
        <div class="info_social">
          <div>
            <a href="">
              <img src="img/fb.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/twitter.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/linkedin.png" alt="">
            </a>
          </div>
          <div>
            <a href="">
              <img src="img/instagram.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>

  </section>