<section class="price-table layout_padding">
  <h2 style="text-align: center; color: #161a18; margin-bottom: 10px;">BẢNG BÁO GIÁ TAXI KHU
    VỰC
    BIÊN HÒA - ĐỒNG NAI - GIÁ CHỈ TỪ 10.000/KM</h2>

  <table>
    <thead>
      <tr>
        <th>Các loại xe</th>
        <th>Giá mở cửa</th>
        <th>Giá cước 10km đầu</th>
        <th>Giá cước từ Km thứ 11 đến 30</th>
        <th>Giá cước từ Km thứ 31</th>
        <th>Thời gian chờ</th>
      </tr>
    </thead>
    <tbody>
      {{#each prices}}
      <tr>
        <td>{{this.vehicle_type}}</td>
        <td>{{this.base_fare}}</td>
        <td>{{this.fare_first_10km}}</td>
        <td>{{this.fare_10_to_30km}}</td>
        <td>{{this.fare_above_30km}}</td>
        <td>{{this.waiting_time_fare}}</td>
      </tr>
      {{/each}}

    </tbody>
  </table>
</section>

<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Dịch vụ <br>
        Dịch vụ Taxi
      </h2>
    </div>
    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <i class="fas fa-car-side"></i>
        </div>
        <div class="detail-box">
          <h5>
            Nội thành, liên tỉnh
          </h5>
          <p>
            Dịch vụ đưa đón nội thành Biên Hòa <br> và đi liên tỉnh khu vực miền Nam
          </p>
          <a href="">
            Đọc thêm
          </a>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <i class="fas fa-plane-departure"></i>
        </div>
        <div class="detail-box">
          <h5>
            Đưa đón tại sân bay
          </h5>
          <p>
            Chúng tôi đưa đón<br> tại sân bay
          </p>
          <a href="">
            Đọc thêm
          </a>
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <i class="fas fa-luggage-cart"></i>
        </div>
        <div class="detail-box">
          <h5>
            Chuyển đồ
          </h5>
          <p>
            Có các dịch vụ <br>chuyển đồ cho khách hàng
          </p>
          <a href="">
            Đọc thêm
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end service section -->

<!-- info section -->

<section class="info_section layout_padding-top layout_padding2-bottom">
  <div class="container">
    <div class="box">
      <div class="info_form">
        <h4>
          Đăng ký nhận bản tin của chúng tôi
        </h4>
        <form id="newsletterForm" action="">
          <input type="text" placeholder="Gửi email với chúng tôi">
          <div class="d-flex justify-content-end">
            <button class="submit-button"></button>
          </div>
        </form>
      </div>
      <div class="info_links">
        <ul>
          <li class=" ">
            <a class="" href="/">Trang chủ <span class="sr-only">(current)</span></a>
          </li>
          <li class="">
            <a class="" href="about"> Chúng tôi</a>
          </li>
          <li class="">
            <a class="" href="service"> Dịch vụ </a>
          </li>
          <li class="">
            <a class="" href="news"> Tin tức</a>
          </li>
          <li class="">
            <a class="" href="contact">Liên hệ </a>
          </li>
          <li class="">
            <a class="" href="/login">Đăng nhập</a>
          </li>
        </ul>
      </div>
      <div class="info_social">
        <div>
          <a href="">
            <img src="/img/fb.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/img/twitter.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/img/linkedin.png" alt="">
          </a>
        </div>
        <div>
          <a href="">
            <img src="/img/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>

</section>